/*
	Description: Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.cmnt_admin {
	width: auto;
	display: block;
	overflow: auto;
	zoom:1;
}
.cmnt_admin h1 {
	font-size:18px;
	margin:18px 2px;
}
.cmnt_admin table {
	margin: 10px;
	border-collapse: collapse;
	width:780px;
	border:1px solid #7A90A8;
	text-align:left;
}

.cmnt_admin .result {margin:0px 0px;}
.cmnt_admin .msg_wrapper {
	border-color:-moz-use-text-color #e7eff0;
	border-style:none none dashed;
    border-width:1px;
	overflow:hidden;
	padding:0px;
}

.cmnt_admin .msg_hdr{
	padding:0px;
	margin:0px;
	border-style:none;
    border-width:1px;
	background-color:#e7eff0;
}
.cmnt_admin .msg_hdr_inline {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	font-family:Arial,Helvetica,sans-serif;
	line-height:10px;
	padding:0px 10px;
	font-size:13px;
}
.cmnt_admin .msg_hdr_inline span,
.cmnt_admin .msg_hdr_inline input,
.cmnt_admin .msg_hdr_inline a{
	padding:0px;
	margin:0px 0px;
	font-size:13px;
}
.cmnt_admin .msg_cont {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:none repeat scroll 0 0;
	font-family:Arial,Helvetica,sans-serif;
	line-height:20px;
	padding:5px 10px;
	font-size:14px;
}
